// .scss/layout/gallery 

@use '../abstracts/' as *;

.gallery {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .gallery-card1{
        background-image: url('../medias/mobile/image-gallery-milkbottles.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .gallery-card2{
        background-image: url('../medias/mobile/image-gallery-orange.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .gallery-card3{
        background-image: url('../medias/mobile/image-gallery-cone.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .gallery-card4{
        background-image: url('../medias/mobile/image-gallery-sugar-cubes.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    span {opacity: 0;}
}


//MEDIA RESPONSIVE
@media screen and (min-width: 375px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .grids {
            height: 400px;
        }
        
    }

}