// ./scss/layout/header
@use '../abstracts/' as *;

    header {
        background-image: url('../medias/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        color: $neutralColor5;
        position: relative;
                
        .logo-sunnyside {
            padding: 25px;
            font-size: $fontSizeHeader;
        }
        .nav {
            visibility: hidden;
        }
        .header {
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            top: 50px;
            &__title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 50px;
                margin: 100px 0 30px 0;
            }

        }
        #scroll-icon {
            cursor: pointer;
            .header-arrow {
                animation: myAnim 2s ease-in 0s infinite normal both;

                @keyframes myAnim {
                    0% {
                        animation-timing-function: ease-in;
                        opacity: 0;
                        transform: translateY(-30px);
                    }

                    24% {
                        opacity: 1;
                    }

                    40% {
                        animation-timing-function: ease-in;
                        transform: translateY(-24px);
                    }

                    65% {
                        animation-timing-function: ease-in;
                        transform: translateY(-12px);
                    }

                    82% {
                        animation-timing-function: ease-in;
                        transform: translateY(-6px);
                    }

                    93% {
                        animation-timing-function: ease-in;
                        transform: translateY(-4px);
                    }

                    25%,
                    55%,
                    75%,
                    87% {
                        animation-timing-function: ease-out;
                        transform: translateY(0px);
                    }

                    100% {
                        animation-timing-function: ease-out;
                        opacity: 1;
                        transform: translateY(0px);
                    }
                    }
            }
        }
    }

// MEDIA RESPONSIVE
    @media screen and (min-width: 390px) {
        header{
            background-image: url('../medias/desktop/image-header.jpg');
        }
        .icon-menu {
            display: none;
        }

        .nav__responsive {
            position: absolute;
            right: 25px;
            top: 25px;
            visibility: visible;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            list-style-type: none;

            li a{
                text-decoration: none;
                color: $neutralColor5;
                font-weight: bold;
                padding: 20px;
                &:hover{
                    color: $neutralColor1;
                    background-color: $neutralColor5;
                    border: 1px solid $neutralColor5;
                    border-radius: 30px;
                }
            }
        }
    }