// ./scss/layout/header
@use '../abstracts/' as *;

    header {
        background-image: url('../medias/desktop/image-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 600px;
        color: $neutralColor5;
        position: relative;
                
        .logo-sunnyside {
            padding: 25px;
            font-size: $fontSizeHeader;
        }
        .nav {
            visibility: hidden;
        }
        .header {
            text-align: center;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            top: 50px;
            &__title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 50px;
                margin: 100px 0 30px 0;
            }

        }
    }

// MEDIA RESPONSIVE
    @media screen and (min-width: 390px) {
        header{
            background-image: url('../medias/desktop/image-header.jpg');
        }
        .icon-menu {
            display: none;
        }

        .nav__responsive {
            position: absolute;
            right: 25px;
            top: 25px;
            visibility: visible;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            list-style-type: none;

            li a{
                text-decoration: none;
                color: $neutralColor5;
                font-weight: bold;
                padding: 20px;
                &:hover{
                    color: $neutralColor1;
                    background-color: $neutralColor5;
                    border: 1px solid $neutralColor5;
                    border-radius: 30px;
                }
            }
        }
    }