// ./scss/abstracts/variables

/***** COLORS *****/
//Primary colors
$primaryColor1: hsl(7, 99%, 70%);
$primaryColor2: hsl(51, 100%, 49%);
$primaryColor3: hsl(167, 40%, 24%);
$primaryPhotoColor: hsl(198, 62%, 26%);
$primaryFooterColor: hsl(168, 34%, 41%);
//Neutral colors
$neutralColor1: hsl(212, 27%, 19%);
$neutralColor2: hsl(213, 9%, 39%);
$neutralColor3: hsl(232, 10%, 55%);
$neutralColor4: hsl(210, 4%, 67%);
$neutralColor5: hsl(0, 0%, 100%);

/***** FONTS *****/
$fontSizeBody: 18px;
$fontWeightSmall: 700;
$fontWeightBig: 900;